body {
  margin: 0;
  background-color: #282c34;
}

* {
  color: #61dafb;
  user-select: none;
}

button, input {
  color: initial;
}

.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
